.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 30px 17px rgb(48, 48, 48);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(187, 186, 186);
    border-left: 1px solid rgb(170, 170, 170);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(48, 48, 48);
    color: white;
}

.buttons > div {
    border-top: 1px solid rgb(158, 155, 155);
    border-right: 1px solid rgb(141, 140, 140);
}

.button {
    border: 0.5px solid rgb(168, 167, 167);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 200px;
}

#equal {
    background-color: rgb(243, 17, 17);
    color: rgb(255, 254, 254);
}

.button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}
#equal:hover{
    background-color: rgb(255, 255, 255);
}